.gen-cont {
  justify-content: space-between;
}

.edit {
  justify-content: align-items;
}

.edit i {
  margin-left: 20px;
}

.mydiy-opt u {
  font-size: 14px ;
  text-decoration: none;
}

#my-rev {
  font-size: 14px;
}

.revhds{
  text-align: left !important;
}
