h1 {
  text-align: center;
}
input.btn.btn.btn-primary2 {
width: 100%;
}

.mr-1, .mx-1 {
  margin-right: 0 !important;
  width: 50%;
}

.mr-1, .mx-1 {
  margin-left: 0 !important;
}

/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;

  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;

}

// /* Idle State of the stars */
// .rating-stars ul > li.star > i.fa {
//   font-size:2.5em; /* Change the size of the stars */
//   color:#fff; /* Color on idle state */
// }

// /* Hover state of the stars */
// .rating-stars ul > li.dot.hover > span.dot {
//   color: $dark-green;
// }

// /* Selected state of the stars */
// .rating-stars ul > li.star.selected > i.fa {
//   color: $dark-green;
// }

.dot {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  height: 25px;
  width: 25px;
  border: white 2px solid;
  background-color: $dark-green;
  border-radius: 50%;
  display: inline-block;
}
.dot.selected {
  height: 25px;
  width: 25px;
  border: white 2px solid;
  background-color: $dark-green;
  border-radius: 50%;
  display: inline-block;
}
.controlls {
  text-align: center;
}