
.item-infos {
  justify-content: space-between;
}

.left-infos img {
  height: 255px;
  width: 340px;
  object-fit: cover;
}

.description-right {
  width: 350px;
  text-align: center;
}

.group-item {
  display: flex;
  justify-content: align-items;
}

.ingredients {
  margin-top:5px;
  margin-left: 20px;
  // line-height: 0px;
}

// .diff {
//   justify-content: space-between;
// }

.diff h4 {
  margin-right: 10px;
}

.about-container h1 {
  text-align: left;
  margin-bottom: 30px;
}

.diff-time {
}

.upvotes {
// display:flex;
// justify-content: space-between;
}

.form-review {
  width: 80%;
  margin-top:20px;
}

#new_review > div > label {
  opacity: 0;
}

.description {
  text-align:center;
  font-family: "Frank Rhule Libre", "Georgia", "serif";
  margin-top: -80px;

}

.title{
  text-align:left;
}

.title u {
  font-size: 18px;
  text-decoration: none;
}

#title-vote {
  display:flex;
  justify-content: end;
}

#title-vote > div{
// width: 310px
  margin-bottom: 20px;
}

.first-comment {
  font-size: 18px;
}

.votes {
  font-family: "Noto Sans", "Helvetica", "Sans Serif";
}

.tag {
  font-family: "Noto Sans", "Helvetica", "Sans Serif";
}

.left-infos {
  width: 340px;
}

.left-infos .upvotes {
  margin-top: 10px;
}

.ntm{
  margin-left: 20px;


}

.ntm p {
  }

#review_comment {
  width: 85%;
}

// .dif-circle{
//   font-size: 14px;
// }
#rev-card{
  background-color: $dark-green;
  border: none;
}

.inf-rev u {
  text-decoration: none;
}

.fa-circle {
  font-size: 12px;
}

.reviews h2{
  margin-bottom: 50px;
}

.list-group-item {
  padding: 0;
}

.supplies {
  margin-top:12px;
  line-height: 14px;
}

.supplies h4 {
  // margin-bottom: 15px;
}

// .inf-rev {
//   justify-content: align-items;
// }

.inf-rev u {
  font-size: 18px;
}

.ingredients .time {
  // margin-top: -8px;
  margin-left: 10px;
}

h4 {
  font-size: 22px;
  // line-height: 0.5;
}

.time{
}

.stepcard-text{
  display: flex;
  margin-right: 10px;
}

.reviews {
  text-align:center;
}
.username {
  margin-top: -25px;
  margin-bottom: -25px;

}
.alt-of {
  margin-top: 10px;
}
body > div > div.container > div.about-container > div.item-infos.d-flex > div.group-item > div.ingredients > div:nth-child(3) > div > h4 {
  margin-top:25px;
}
body > div > div.container > div.about-container > div.item-infos.d-flex > div.group-item > div.ingredients > div:nth-child(3) > div > p{
  margin:8px;
}
body > div > div.container > div.about-container > div.item-infos.d-flex > div.group-item > div.ingredients > div > p{
  margin:8px;
}
.fa-circle {
  margin:auto;
  margin-top:10px;
}
body > div > div.container > div.about-container > div.item-infos.d-flex > div.group-item > div.ingredients > div.diff.d-flex > div > p {
  margin:0;
}
