
.item-infos {
  justify-content: space-between;
}

.left-infos img {
  height: 255px;
  width: 340px;
  object-fit: cover;
}

.description-right {
  width: 350px;
  text-align: center;
}

.group-item {
  display: flex;
  justify-content: align-items;
}

.ingredients {
  margin-top:0px;
  margin-left: 20px;
  line-height: 0px;
}

.about-container h1 {
  text-align: left;
  margin-bottom: 30px;
}

.diff-time {
}

.upvotes {
// display:flex;
// justify-content: space-between;
}

.form-review {
  width: 80%;
  margin-top:20px;
}

#new_review > div > label {
  opacity: 0;
}
.description {
  text-align:center;
  font-family: "Frank Rhule Libre", "Georgia", "serif";

}
.title{
  text-align:left;
}
#title-vote {
  display:flex;
  justify-content: end;
}

#title-vote > div{
width: 310px
}

.first-comment {
  font-size: 18px;
}
.votes {
  font-family: "Noto Sans", "Helvetica", "Sans Serif";
}
.tag {
  font-family: "Noto Sans", "Helvetica", "Sans Serif";
}
.left-infos {
  width: 340px;
}
.ntm{
  margin-left: 0;

}

#review_comment {
  width: 85%;
}
// .dif-circle{
//   font-size: 14px;
// }
.fa-circle {
  font-size: 12px;
}
.supplies {
  margin-top:12px;
  line-height: 14px;
}
h4 {
  font-size: 22px;
  line-height: 0.5;
}
.time{
  margin-top:12px;
}
.stepcard-text{
  display: flex;
  margin-right: 10px;
}
.reviews {
  text-align:center;
}