<div class="card-review">
  <h2>Date et Username</h2>
  <img src="http://golem13.fr/wp-content/uploads/2019/01/Avatar2-et-3-termines.jpg" />
  <div class="card-product-infos">
    <p>Comments with <strong>relevant info</strong> only.</p>
  </div>
</div>
