<footer class="footer ">
  <div class="top-foot d-flex">
    <div class="left-foot">
      Developped by H-Alt-e
    </div>
    <div class="right-foot">
      <p>H-Alt-e enjoys working with passionate, creative people to solve problems. If you have an interesting project — big or small, commercial or personal — H-Alt-e is always on the lookout for people to collaborate with. Please get in touch.</p>
  </div>
  </div>
    <div class="get-touch">CONTACT US : h-alt-e@gmail.com</div>

</footer>
