<footer class="footer ">
  <div class="top-foot d-flex">
    <div class="left-foot">
      Developped by H-Alt-e
      <div class="get-touch" style="z-index:"><a onClick="javascript:window.open('mailto:contact.halte@gmail.com?subject=Do you want to develop an app?', 'mail');event.preventDefault()" href="mailto:contact.halte@gmail.com?subject=Do you want to develop an app?">Contact us</a><!-- <a href="mailto:h-alt-e@gmail.com">Contact us</a> --></div>
    </div>
    <div class="right-foot">
      <p>H-Alt-e enjoys working with passionate, creative people to solve problems. If you have an interesting project — big or small, commercial or personal — H-Alt-e is always on the lookout for people to collaborate with. Please get in touch.</p>
  </div>
  </div>

</footer>

<!-- <a href="mailto:h-alt-e@gmail.com">Contact us</a> -->
