<div class="container">
<div class="quote"><h1>“Alternatives, offered to people <br> who care about what’s next.”</h1>
</div>
<div class="daily-alt">
  <div class="img">

  </div>
  <div class="description">
    <div class="title">
      Alt of the Day
    </div>
    <h3>Beeswax-wrap</h3>
    <p>Both my husband and I love to cook, and we delight in sharing our gastronomic adventures with those we love. However, I’ve always hated using plastic wrap each time we take one of our culinary creations out the door. So I set out to find a plastic wrap alternative. </p>
    <div class="author">By Billy Frampton</div>
  </div>
</div>
</div>
