<div class="container">
  <div class="quote"><h1>“Alternatives, offered to people <br> who care about what’s next.”</h1>
  </div>
  <div class="daily-alt">
    <div class="title">
      Alt of the Day
    </div>
    <div class="daily-alt-container">
        <div class="img">
          <img src="https://res.cloudinary.com/dgpkng6h9/image/upload/v1575392520/H-Alt-e/DIY/diy-main-beeswax-01.jpg" <%= link_to alternative_path(id: 1) %>/>
        </div>
        <div class="description">
          <h3> <%= link_to "Beeswax Food Wraps for a Plastic-Free Kitchen", alternative_path(id: 1) %> </h3>
          <p>Both my husband and I love to cook, and we delight in sharing our gastronomic adventures with those we love. However, I’ve always hated using plastic wrap each time we take one of our culinary creations out the door. So I set out to find a plastic wrap alternative. </p>
          <div class="author">By Billy Frampton</div>
        </div>
    </div>
  </div>
</div>
