<% @alternatives.each do |alternative| %>

<div class="container">
  <div class="card-alternatives-container">
      <div class="index-img">
      </div>
      <div class="card-alternatives-left">
<h2> <%= link_to alternative.title, alternative_path(alternative) %> </h2>
<div class="property"> <%= alternative.difficulty %> </div>
<p> <%= alternative.description %> </p>
    </div>
      <div class="separator"></div>
    <div class="card-alternatives-right">
    <div class="property">D.I.Y. </div>
<p> <i class="far fa-clock"></i><%= alternative.prep_time %> min.</p>
    </div>
  </div>
</div>
<div class="white-line"></div>
<% end %>
