<% @alternatives.each do |alternative| %>

<div class="container">
  <div class="card-alternatives-container">
      <div class="index-img">
         <%= cl_image_tag alternative.photos.first.try(:photo) || "https://res.cloudinary.com/dgpkng6h9/image/upload/v1575542682/diy-img.png"%>
      </div>
      <div class="card-alternatives-left">
<h2> <%= link_to alternative.title, alternative_path(alternative) %> </h2>
<% count = alternative.difficulty.to_i %>
          <% count.times do %>
            <i class="fas fa-circle"></i>
          <% end %>
          <% count_2 = 5 - count %>
            <% count_2.times do %>
            <i class="far fa-circle"></i>
          <% end %>
<p> <%= alternative.description %> </p>
    </div>
      <div class="separator"></div>
    <div class="card-alternatives-right">
    <div class="property">D.I.Y. </div>
<p> <i class="far fa-clock"></i> <%= alternative.prep_time.strftime("%H:%M:%S") %> min.</p>
    </div>
  </div>
</div>
<div class="white-line"></div>
<% end %>

<script type="text/javascript" src="dist/js/jquery-1.10.2.js"></script>
