<%= link_to 'Upvote', alternative_upvotes_path(@alternative.id), method: :post, class: 'btn btn-primary'%>
<%= link_to 'Downvote', alternative_downvote_path(@alternative.id), method: :post, class: 'btn btn-primary'%>
<!-- route :  /alternatives/:alternative_id/upvotes/:id(.:format -->
<h1><%= @upvote_count - @downvote %></h1>
