<div class="container">
  <div class="about-container">
    <h1> <%= @alternative.title %> </h1>
    <div class="item-infos d-flex">
      <div class="group-item">
        <div class="left-infos">
          <img src="https://uvmbored.com/wp-content/uploads/2019/09/lip-balm.jpeg" alt="test-img">
          <!-- AJOUTER UPVOTES ICI -->
        </div>
        <div class="ingredients">
          <p><%= @alternative.difficulty %></p>
          <p><%= @alternative.ingredients %></p>
        </div>
      </div>
      <div class="description-right">
        <p>About</p>
        <p><%= @alternative.description %></p>
      </div>
    </div>
    <!-- AJOUTER REVIEWS ICI -->
  </div>
  <div class="white-line"></div>
  <div class="stepcard">
    <p>1st Step</p>
    <div class="desc-step d-flex">
      <img src="https://s3-us-west-2.amazonaws.com/lia-griffith-media/wp-content/uploads/2014/03/LipBalmIngredients.jpg" alt="1step-img">
      <p>In a small dish mix together the coconut oil, beeswax pellets, and almond oil.</p>
      <!-- AJOUTER STEP ICI A LA PLACE DU TEXT TEST-->
    </div>
  </div>
  <div class="white-line"></div>
 <div class="reviews-card">
   <p>Reviews</p>
 </div>
 <div class="white-line"></div>
</div>
