.stepcard {
  width: 50%;
}

.stepcard p {
  font-size: 30px;
}

.desc-step p {
  font-size: 16px;
  width: 250px;
  margin-left: 10px;
}

.reviews-card p {
  font-size: 30px;
  text-align: center;
}

.card-alternatives-container {
  display: flex;
  justify-content: space-between;
  width: 920px;
}

.property {
  font-family: "Noto Sans", "Helvetica", "sans-serif";
  font-size: 14px;
}

p {
  font-size: 18px;
}

.mydiy-opt {
  margin-left: 40px;
}

.myrev-opt {
  margin-left: 40px;
}

.myrev-opt p {
  font-size: 16px !important;
}

.card-alternatives-left {
  width: 420px;
  margin-left: 20px;
}

.card-alternatives-right {
  width: 420px;
  margin-left: 20px;
}

.separator {
  margin: auto;
  border-right: 1px solid;
  height: 20px;
}

#title-my {
  font-size: 30px;
}

.mydiy-card {
  margin-left: 80px;
  margin-top: 20px;
}

.rest-diy {
  display: flex;
  justify-content: space-between;
}

#dash-hds {
  text-align: left;
  font-size: 40px;
  margin-left: 80px;
  margin-top: 80px;

}

.myrev-card {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

#title-rvw {
  font-size: 24px !important;
}

.bottom-container {
  margin-left: 40px;
}

.rest-rev i{
  position: relative;
  top: 56%;
  margin-right: 30px;
}

.card-alternatives-container {
  display: flex;
  justify-content: space-between;
  width: 920px;
}
.property {
  font-family: "Noto Sans", "Helvetica", "sans-serif";
  font-size: 14px;
}

p {
  font-size: 18px;
}

.card-alternatives-left {
  width: 420px;
  margin-left: 20px;
  margin-right: 10px;

}

.separator {
  margin: auto;
  border-right: 1px solid;
  height: 20px;
}

.box-myrev {
  justify-content: space-between;
}
