.box-stepcard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-top: 20px;
}

.stepcard-text {
  display: flex;
  justify-content: space-between;
}

.stepcard-text img {
  height: 200px;
  width: 300px;
}

.ntm {
  margin-left: 20px;
  width: 80px;
}
