.stepcard {
  width: 50%;
}

.stepcard p {
  font-size: 30px;
}

.desc-step p {
  font-size: 16px;
  width: 250px;
  margin-left: 10px;
}

.reviews-card p {
  font-size: 30px;
  text-align: center;
}

// .card-product-infos p {
//   text-align: center;
// }

// .card-review {
//   justify-content : space-between;
// }
