.footer {
background-color: white;
color: $dark-green;
height: 60px;
position: sticky;
bottom: 0;
width:100%;
z-index: -1;
}

.right-foot p {
  font-size: 16px !important;
}

.right-foot {
  width : 40%;
}

.get-touch {
  margin-top:50px;
  margin-left: 80px;
  font-style: bold;
  font-size: 16px !important;
  color:$dark-green;
}

.top-foot {
  justify-content: space-between;
  margin-left: 80px;
  margin-top: 30px;
  opacity: 70%;
}

.get-touch a {
  color: $dark-green !important;
  padding-bottom: 40px;
}
