.form ::selection {
    color: #fff;
    text-shadow: none;
    background:#f46c6e;
}

.diffdiv {
  width: 30%;
  margin-right: 50px;
}

.timediv{
  width: 25%;
}


#alternative_difficulty {
  height: 30px;
}

#alternative_prep_time_4i {
  height: 30px;
}

#alternative_prep_time_5i {
  height: 30px;
}

.form-container1 h1 {
  margin-bottom: 60px;
}

.blocsrc {
  display: flex;
  justify-content: center;
}

.fa-plus {
  font-size: 18px;
}

.formgrid .form-group {
  width: 70%;
  margin: auto;

.ingredients_placeholder {
  display: flex;
  justify-content: initial;
}

.my-tag{
  width: 100%;

}
