.index-img {
  width: 160px;
  height: 160px;
  -webkit-filter: url(#monochrome);
  filter:  url(#monochrome);
  border: 1px solid $dark-green;
  box-sizing: border-box;
  object-fit: cover;
}

.my-item-img {
  width: 90px;
  height: 90px;
  -webkit-filter: url(#monochrome);
  filter:  url(#monochrome);
  border: 1px solid $dark-green;
  box-sizing: border-box;
  object-fit: cover;
}

.dash-img {
  width: 48px;
  height: 48px;
  -webkit-filter: url(#monochrome);
  filter:  url(#monochrome);
  border: 1px solid $dark-green;
  box-sizing: border-box;
  object-fit: cover;
}
.step-img {
  width: 288px;
  height: 216px;
  -webkit-filter: url(#monochrome);
  filter:  url(#monochrome);
  border: 1px solid $dark-green;
  box-sizing: border-box;
  object-fit: cover;

}