.index-img img{
  width: 160px;
  height: 160px;
  -webkit-filter: url(#monochrome);
  filter:  url(#monochrome);
  border: 1px solid $dark-green;
  box-sizing: border-box;
  object-fit: cover;
}

.my-item-img {
  width: 90px;
  height: 90px;
  -webkit-filter: url(#monochrome);
  filter:  url(#monochrome);
  border: 1px solid $dark-green;
  box-sizing: border-box;
  object-fit: cover;
}

.dash-img {
  width: 100px;
  height: 100px;
  -webkit-filter: url(#monochrome);
  filter:  url(#monochrome);
  border: 1px solid $dark-green;
  box-sizing: border-box;
  object-fit: cover;
}

.maindash-img {
  width: 128px;
  height: 128px;
  -webkit-filter: url(#monochrome);
  filter:  url(#monochrome);
  border: 1px solid $dark-green;
  box-sizing: border-box;
  object-fit: cover;
}

.step-img {
  width: 170px;
  height: 110px;
  -webkit-filter: url(#monochrome);
  filter:  url(#monochrome);
  border: 1px solid $dark-green;
  // box-sizing: border-box;
  object-fit: cover;

}
