.navbar-lewagon {
  justify-content: space-between;
  margin-bottom: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand h2 {
  margin-top: 10px;
  color: $white;
  font-family: "Noto Sans", "Helvetica", "sans-serif";
  font-size: 22px;
}

.navbar-light .navbar-nav .nav-link {
  margin-top: 10px;
  color: $white;
  font-size: 18px;
}

.dropdown-menu {
  background-color: $dark-green;
  border-style: none;
}

.dropdown-item {
  text-align: right;
}
.dropdown-item:hover {
  color: white !important;
  background-color: $dark-green !important;
  text-decoration: underline;
}

a {
  color: $white !important;
}

.nav-item {
  justify-content: space-between;
}

.srch {
  justify-content: space-between;
}
#query{
  color: $white;
  background:none ;
  border: none;
  box-shadow: none;
  width: 300px;
}
.sign-separator {
  margin: auto;
  border: none !important;
  height: 12px;
}
.searchbar {
  display:flex;
  justify-content:space-between;
  width: 300px;
}

.searching {
  margin: auto;
  font-family: "Noto Sans", "Helvetica", "sans-serif";
  font-size: 18px;
}
.input{
  background:none;
}
// div.searchbar > div.search.d-flex {
// z-index: 100}
.transp-yes {
  opacity: 0;
  z-index: -1
}

i .transp-no {
  opacity: 1;
  z-index: 1
}
body > div > div.navbar.navbar-expand-sm.navbar-light.navbar-lewagon > div.searchbar > div.search > input[type=submit] {
  background:none;
  z-index: -1000;
}