.navbar-lewagon {
  justify-content: space-between;
  margin-bottom: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand h2 {
  margin-top: 10px;
  color: $white;
  font-family: "Noto Sans", "Helvetica", "sans-serif";
  font-size: 22px;
}

.navbar-light .navbar-nav .nav-link {
  margin-top: 10px;
  color: $white;
  font-size: 18px;
}

.dropdown-menu {
  background-color: $dark-green;
  border-style: none;
}


.dropdown-item:hover {
  color: white !important;
  background-color: $dark-green !important;
  text-decoration: underline;
}

a {
  color: $white !important;
}
