.white-line {
  border: 0.5px solid #FFFFFF;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.white-line-ind {
  border: 0.5px solid #FFFFFF;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.home-white-line {
  border: 0.5px solid #FFFFFF;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.dash-white-line {
 border: 0.5px solid #FFFFFF;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.vert-white-line {
  border: 0.5px solid #FFFFFF;
  // width: 80%;
  // margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  transform: rotate(89,99deg);
}
