.white-line {
  border: 0.5px solid #FFFFFF;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.home-white-line {
  border: 0.5px solid #FFFFFF;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.dash-white-line {
 border: 0.5px solid #FFFFFF;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
